
<form action="/" method="POST">
    <%- include('./_form_fields') %>
    <button type="submit">Add</button>
</form>


<br><br><br><br>

<h1>Your ToDo List</h1>
<% mylist.forEach(l => { %>
    <h1> <%= l.title %> </h1>
    <p> <%= l.description %> </p> 
    <a href="/<%= l._id %>/edit">Edit</a>
    <form method="POST" action="/<%= l._id %>?_method=DELETE">
        <button type="submit">Delete</button>
    </form>
<% }); %>